* {
  box-sizing: border-box;
}

header {
  height: 104px;
  min-height: 85px;
  width: 300px;
  background-color: #26a69a;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#heading {
  margin: 0;
  text-align: center;
  font-weight: 100;
}

.modal {
  box-sizing: border-box;
  width: 100% !important;
  top: 0 !important;
}


html::-webkit-scrollbar{
  display:none;
}

html{ 
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  width: 300px;
  height: 460px;
  display: flex;
  flex-direction: column;
}

/* button */
#buttons-div {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  top: 2rem;
  position: relative;
  padding-bottom: 35px;
}

#submit{
  transition: background-color 0.1s linear;
  color: white;
  background-color: #2672A6;
  font-size: 1.2rem;
}
#submit:hover{
  background-color: #123f9445;
  color: black;
}

button {
  margin-top: 1rem;
  min-height: 2.5rem;
  /* border-radius: 5px;
  border-style: solid;
  border-width: 1px; */
  cursor: pointer;
  transition: background-color 0.3s linear, border 0.2s linear;
  border-style: solid;
  border-width: 0px;
}

button:hover {
  border-width: 1px;
  border-color: #26a69a;
  border-style: solid;
}

button:focus {
  border-width: 1px;
  border-color: #26a69a;
  border-style: solid;
  color: white;
}

#join{
  font-size: 1.1rem;
}
#joinText {
  display: inline-block;
  right: 180px;
  position: absolute;
  padding-right: 10px;
}
#textContainer {
  display: flex;
  align-items: center;
}
.left {
  position: absolute;
  right: 180px;
}
.right {
  position: absolute;
  left: 140px;
}

#checkbox {
  padding-top: 30px;
}

#checkbox label {
  font-size: 1.4rem;
}

#checkbox [type="checkbox"] {
  position: relative;
  opacity: 100;
  pointer-events: auto;
}

#incorrect-url, #single-instance-err {
  font-size: 1.4rem;
  color: #695f5f;
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}

#stored-url {
  font-size: 1.2rem;
  font-weight: bold;
  color: #26a69a;
  padding: 0px;
}

#incorrect-url img{
  max-width: 100%;
  max-height: 100%;
}

#uhimg{
  width: 210px;
  margin: auto;
}

#uhoh{
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

#leave_text {
  font-size: 1rem;
  color: #695f5f;
}
[disabled] {
  cursor: not-allowed;
}
#leave_threshold {
  width: 2rem;
  height: revert;
  transition: border 0.2s linear;
  text-align: center;
}
.dark_border{
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #9f9f9f  !important;
}
.chips{
  width: 268px;
  margin-left: -10px;
}
.chip{
  font-size: 0.8rem;
}

#footer img{
  max-width: 100%;
  max-height: 100%;
}

#footer{
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  width: 100%;  
  align-items: center;
  margin-top: auto;
}
#heart{

}
#github{
  width:1.5rem;
  padding-top: 4px;
  margin-left: 25px;
}
