* {
  box-sizing: border-box;
}

header{
	height: 104px;
	width: 300px;
	background-color: #26a69a;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#heading {
  margin: 0;
  text-align: center;
  font-weight: 100;
}

.modal {
  box-sizing: border-box;
  width: 100% !important;
  top: 0 !important;
}

html,
body {
  width: 300px;
  height: 460px;
}

body {
}

/* button */
#buttons-div {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  top: 2rem;
  position: relative;
}

button {
  margin-top: 1rem;
  min-height: 2.5rem;
  /* border-radius: 5px;
  border-style: solid;
  border-width: 1px; */
  cursor: pointer;
  transition: background-color 0.3s linear, border 0.2s linear;
  border-style: solid;
  border-width: 0px;
}

button:hover {
  border-width: 1px;
  border-color: #26a69a;
  border-style: solid;
}

button:focus {
  border-width: 1px;
  border-color:#26a69a; 
  border-style: solid;
  color: white;
}

#joinText {
  display: inline-block;
  right: 180px;
  position: absolute;
  padding-right: 10px;
}
#textContainer{
    display: flex;
    align-items: center;
}
.left{
    position: absolute;
    right: 180px;
}
.right{
    position: absolute;
    left: 140px;
}

#checkbox{
  padding-top: 30px;
}

#checkbox label{
  font-size: 1.4rem;
}

#checkbox [type="checkbox"] {
  position: relative;
  opacity: 100;
  pointer-events: auto;
}

#leave {
  display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;

    position: relative;
    width: 20px;
}
